<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @team.sport %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.where(:id => @team.owner).first.name %>
</p>

<h1>users</h1>
<%@team.users.each do |t|%>
<%=t.name%>
<%end%>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
