<div class="authform">
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <div class="jumbotron text-center no-b-pad white-b blue-t">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
    <hr class="blue">
    <%= devise_error_messages! %>
    </div>
    <div class="blue-b white-t">
    	<div class="container">
    		<br>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
     
      
    </fieldset>
     <br>
    </div>
      </div>
       <div class="white-b blue-t">
       	<div class="container">
       		<br>
    <%= f.submit 'Update', :class => 'btn btn-default btn-block' %>
    <br>
    </div>
    </div>
  <% end %>
</div>
<div class="authform">
	<div class="text-center blue-b white-t">
		<br>
<h3>Cancel Account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-inv' %>
<br>
<br>
</div>

</div>
