<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <div class="jumbotron text-center no-b-pad white-b blue-t">
    <h1>Sign up</h1>
    <hr class="blue">
    <%= devise_error_messages! %>
    </div>
    <div class="blue-b white-t">
    	<div class="container">
    		<br>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <br>
    </div>
    </div>
    <div class="white-b blue-t">
    	<div class="container">
    		<br>
     <%= f.submit 'Sign up', :class => 'btn btn-default btn-block' %>
     <br>
     </div>
     </div>
  <% end %>
</div>
