<h1>Listing team_rosters</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @team_rosters.each do |team_roster| %>
      <tr>
        <td><%= team_roster.team_id %></td>
        <td><%= team_roster.user_id %></td>
        <td><%= link_to 'Show', team_roster %></td>
        <td><%= link_to 'Edit', edit_team_roster_path(team_roster) %></td>
        <td><%= link_to 'Destroy', team_roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team roster', new_team_roster_path %>
