<div class="jumbotron text-center no-b-pad white-b blue-t">
			<h1>Welcome, <%=current_user.name%></h1>
			<hr class="blue">
			<div class="col-md-offset-4 col-md-4 col-md-offset-4">
				<%=link_to '<span class="glyphicon glyphicon-plus"></span> Team'.html_safe, new_team_path, :class => 'btn btn-default' %>
				<%=link_to 'Profile'.html_safe, user_path(current_user), :class => 'btn btn-default' %>
				<%=link_to '<span class="glyphicon glyphicon-plus"></span> Competition'.html_safe, new_competition_path, :class => 'btn btn-default' %>
			</div>
			<br>
		</div>
		<div class="blue-b white-t">
		<div class="container">
			<div class="col-md-6">
				<h2>Teams</h2>
				<div class="list-group">
					<%@teams.each do |t|%>
					<a href=<%=team_path(t)%> class="list-group-item"> 
						<%=t.name%>
						<span class="hidden-xs pull-right">
							<span class="badge"><%=t.sport%></span>
							<%if t.owner == current_user.id%>
								<span class="badge">Owner</span>
							<%end%>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge"><%=t.sport%></span>
							</div>
						</span>
					</a>
					<%end%>
				</div>
			</div>
			
			<div class="col-md-6">
				<h2>Competitions</h2>
				<div class="list-group">
					<%@owned_comp.each do |c|%>
					
					<a href=<%=competition_path(c)%> class="list-group-item"> 
						<%=c.name%>
						<span class="hidden-xs pull-right">
							<span class="badge">Owner</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Owner</span>
							</div>
						</span>
					</a>
					
					<%end%>
					<%@teams.each do |t|%>
					<%t.competitions.each do |c|%>
					<a href=<%=competition_path(c)%> class="list-group-item"> 
						<%=c.name%>
						<span class="hidden-xs pull-right">
							<span class="badge"><%=t.name%></span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge"><%=t.name%></span>
							</div>
						</span>
					</a>
					<%end%>
					<%end%>
				</div>	
			</div>
		</div>
		<br>
		</div>
		
		<div class="white-b blue-t">
		<div class="container">
			<div class="col-md-6">
				<h2>Recent Results</h2>
				
				<div class="list-group">
					
					<%@recent_result.each do |f|%>
					<%fix = f[0]%>
					<%cur_team = f[1]%>
					
					<a href=<%=fixture_path(fix)%> class="list-group-item"> 
						vs <%=Team.find(fix.getOpponent(cur_team.id)).name%>
						<span class="hidden-xs pull-right">
							<span class="badge"><%=cur_team.name%></span>
							<span class="badge"><%=Competition.find(fix.competition_id).name%></span>
							<span class="badge"><%=fix.getDashRes(cur_team.id)%></span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge"><%=cur_team.name%></span>
							<span class="badge"><%=Competition.find(fix.competition_id).name%></span>
							<span class="badge"><%=fix.getDashRes(cur_team.id)%></span>
							</div>
						</span>
					</a>
					
					
					<%end%>
				</div>
			</div>
			
			<div class="col-md-6">
				<h2>Upcoming Fixtures</h2>
				<div class="list-group">
					<%@upcoming_fixture.each do |f|%>
					<%fix = f[0]%>
					<%cur_team = f[1]%>
					<a href=<%=fixture_path(fix)%> class="list-group-item"> 
						vs <%=Team.find(fix.getOpponent(cur_team.id)).name%>
						<span class="hidden-xs pull-right">
							<span class="badge"><%=cur_team.name%></span>
							<span class="badge"><%=Competition.find(fix.competition_id).name%></span>
							
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge"><%=cur_team.name%></span>
							<span class="badge"><%=Competition.find(fix.competition_id).name%></span>
							
							</div>
						</span>
					</a>
					
					
					<%end%>
					
				</div>	
			</div>
			<div class="col-md-12">
				<a href="user-fixtures.html" class="btn btn-default btn-block" role="button">Show All</a>
			</div>
		</div>
		<br>
		</div>
	